/*间距*/
.ml5{
  margin-left:5px;
}

.mr5{
  margin-right:5px;
}

.mt5{
  margin-top:5px;
}

.mb5{
  margin-bottom:5px;
}

.ml10{
  margin-left:10px;
}

.mr10{
  margin-right:10px;
}

.mt10{
  margin-top:10px;
}

.mb10{
  margin-bottom:10px;
}

.ml15{
  margin-left:15px;
}

.mr15{
  margin-right:15px;
}  .mt15{
  margin-top:15px;
}

.mb15{
  margin-bottom:15px;
}

.ml20{
  margin-left:20px;
}

.mr20{
  margin-right:20px;
}

.mt20{
  margin-top:20px;
}

.mb20{
  margin-bottom:20px;
}
.pl5{
  padding-left:5px;
}

.pr5{
  padding-right:5px;
}

.pt5{
  padding-top:5px;
}
.pl10{
  padding-left:10px;
}

.pr10{
  padding-right:10px;
}

.pt10{
  padding-top:10px;
}

.pb10{
  padding-bottom:10px;
}

.pl15{
  padding-left:15px;
}

.pr15{
  padding-right:15px;
}

.pt15{
  padding-top:15px;
}

.pb15{
  padding-bottom:15px;
}

.pt20{
  padding-top:20px;
}

.pb20{
  padding-bottom:20px;
}

/*avatar*/
.avatar-big,
.avatar-medium, 
.avatar-small,
.avatar-tiny {
  float: left;
}
.avatar-big {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}


.avatar-medium {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.avatar-small {
  margin: 5px 3px 0 0;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  
}
.avatar-tiny {
  margin: 5px 3px 0 0;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  
}

/*common*/
.main {
  min-height: 1200px;
  padding: 70px 0 0 0;
}
.sidebar {
  margin: 0;
}
.sidebox {
  padding: 5px 20px 15px;
}


.main-add {
  padding: 50px 0;
  text-align: center;
  border: 1px solid #eee;
  background: #f1f1f1;
}
.main-add p {
  margin: 5px 0 0 0;
  color: #999;
  line-height: 28px;
}
.main-post {
  padding: 0 0 15px;
}
.main-list {
  margin: 0;
}
.main-list li {
  margin: 0;
  height: 70px;
  border-bottom: 1px solid #f1f1f1;
  border-left: 3px solid #fff;
  list-style: none;
  cursor: pointer;
}
.main-list li:first-child {
  border-top: 1px solid #f1f1f1;
}
.main-list li:hover {
  background-color: #eee;
  -webkit-transition: all 0.24s ease-out;
  -moz-transition: all 0.24s ease-out;
  -o-transition: all 0.24s ease-out;
  transition: all 0.24s ease-out;
  border-left: 3px solid #00a05e;
  text-shadow: 0 1px 0 #fff;
}
.main-list li a:hover {
  text-decoration: none;
}
.main-list a {
  display: block;
  height: 70px;
}
.main-list a.blocked h5 {
  color: #ccc;
  text-decoration: line-through;
}

.main-list li h5 {
  float: left;
  margin: 0;
  padding: 0 0 0 10px;
  font-size: 28px;
  font-weight: 200;
  line-height: 70px;
}
.main-list a.stick,
.main-list a.sticked,
.main-list a.finish,
.main-list a.finished,
.main-list a.personal {
  float: left;
  margin: 15px;
  width: 40px;
  height: 40px;
  background: url("../img/ico.png") no-repeat;
}
.main-list a.stick {
  background-position: -50px 0;
}
.main-list a.sticked,
.main-list a.stick:hover {
  background-position: -50px -50px;
}
.main-list a.stick:hover {
  moz-transition: background .2s ease-in-out;
  -o-transition: background .2s ease-in-out;
  transition: background .2s ease-in-out;
  -webkit-transition-property: color,background;
  -webkit-transition-duration: .2s, 0.2s
}
.main-list a.finish {
  background-position: 0 0;
}
.main-list a.finished {
  background-position: 0 -50px;
}
.main-list a.personal {
  background-position: -50px -150px;
}
.main-list a.star {
  background-position: 0 -200px;
}
.main-list .progress {
  float: right;
  margin: 25px 0 0 20px;
  width: 200px;
}
.main-list .action {
  display: inline-block;
  float: right;
  margin: 10px;
  height: 20px;
}
.main-box {
  display: inline-block;
  margin: 0;
  width: 540px;
  /*background: #eee;*/
}
.main-box h4 {
  font-size: 14px;
  border-bottom: 1px solid #eee;
}

/*header*/
.navbar-nav .userinfo {
  margin: 8px 20px 0;
}
.navbar-nav .userinfo .name {
  display: inline-block;
  margin: 8px 0 0 0;
}
.navbar-nav .userdo {
  margin: 15px 0 0 20px;
}
.navbar-nav .userdo i {
  margin: 3px 2px 0 0;
  opacity: 0.4;
  filter: alpha(opacity=40);
}

/*sidebox*/
.sidebox .userlist {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.sidebox .userlist li {
  display: inline-block;
  float: left;
  width: 70px;
  height: 100px;
}
.sidebox .userlist li a {
  display: inline-block;
}
.sidebox .userlist li p {
  text-align: center;
}
.sidebox .userlist li a img {
  margin: 0 5px;
  border-radius: 30px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.sidebox .userlist li a img:hover {
  opacity: 1.0;
  filter: alpha(opacity=100);
}
.sidebox .userlist-inline {
  display: inline-block;
  margin: 0;
}
.sidebox .userlist-inline li {
  float: left;
  padding: 5px 0;
  width: 340px;
  line-height: 38px;
  border-bottom: 1px solid #eee;
  list-style: none;
}
.sidebox .userlist-inline li img {
  margin-right: 10px;
}

.sidebox .reply-box .input-append .input-large {
  margin-right: 10px;
  width: 265px;
}
.sidebox .reply-box .input-append .btn-primary {
  height: 36px;
}
.sidebox .reply-box .btn-group a {
  width: 76px;
  height: 30px;
  line-height: 30px;
}
.sidebox .reply-box .reply-list {
  margin: 0;
}
.sidebox .reply-box .reply-list li {
  margin: 0 0 10px 0;
  padding: 10px;
  list-style: none;
  background: #fff;
}





/*passport*/
.passport {
  position: absolute;
  margin: 0 auto;
  width: 100%;
  height: 1200px;
}
.passport .inner {
  margin: 0 auto;
  width: 100%;
  height: 500px;
  background: url("../img/bg.jpg") top center no-repeat;
  background-size: cover;
}
.passport .intro {
  padding: 30px 0 0 0;
}
.passport .intro h1 {
  margin: 20px 0;
  font-size: 50px;
  color: #fff;
  text-shadow: 0 0 1px #999;
}
.passport .intro h4 {
  margin: 10px 0 0 30px;
  color: #999;
  line-height: 30px;
  text-shadow: 0 0 1px #333;
}
.passport .intro .btn-register,
.passport .intro .btn-download {
  margin: 50px 0 0 30px;
  padding: 15px 40px;
  font-size: 28px;
  line-height: 28px;
}
.passport .intro [class^="icon-"], [class*=" icon-"] {
  margin: 0;
  padding: 0;
  width: 20px;
  height: 16px;
  vertical-align: middle;
}
.passport .intro .btn-register {
  text-shadow: 0 1px 0 #007543;
}
.passport .intro .btn-download {
  text-shadow: 0 1px 0 #777;
}
.passport .login {
  position: relative;
  float: right;
  margin: 20px 0;
  padding: 40px 20px;
  width: 300px;
  height: 280px;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
}
.passport .login .input-xlarge {
  margin: 0;
  padding: 5px;
  width: 268px;
  height: 32px;
  line-height: 32px;
  font-size: 18px;
}
.passport .login .form-login {
  position: absolute;
  padding: 0 10px;
}
.passport .login .form-login .btn {
  width: 280px;
  text-shadow: 0 1px 0 #007543;
}
.passport .login .on-changes {
  display: none;
}
.passport .login .control-group {
  position: relative;
}
.passport .login .email-list {
  position: absolute;
  width: 280px;
  background: #333;
}
.passport .login .email-list p {
  margin: 0;
  padding: 0 10px;
  line-height: 32px;
}
.passport .login .email-list ul {
  margin: 0;
}
.passport .login .email-list li {
  display: block;
  padding: 0 10px;
  width: 260px;
  height: 32px;
  line-height: 32px;
  list-style: none;
  cursor: pointer;
}
.passport .login .email-list li.current {
  background: #555;
}
.passport .login .error-box {
  position: absolute;
  left: 30px;
  bottom: 30px;
  display: none;
  padding: 0 0 0 20px;
  width: 260px;
  height: 50px;
  background: #da4f49;
}
.passport .login .error-box .icon-error {
  display: inline-block;
  float: left;
  margin: 17px 8px;
  width: 16px;
  height: 16px;
  background: url("../img/ico.png") -230px 0;
}
.passport .login .error-box p {
  float: left;
  margin: 0;
  padding: 17px 0 19px;
  line-height: 14px;
  vertical-align: middle;
}

.passport .copyright {
  display: inline-block;
  margin: 40px auto;
  width: 960px;
  text-align: center;
  color: #777;
}
.passport .copyright span {
  padding: 0 5px;
}

/*modal-body userlist*/
.modal-body .userlist {
  display: inline-block;
  margin: 0
}
.modal-body .userlist li {
  float: left;
  margin: 0 10px 0 0;
  width: 90px;
  height: 90px;
  list-style: none;
  text-align: center;
}
.modal-body .userlist li img {
  margin: 0 20px;
}
.modal-body .userlist li p {
  font-size: 14px;
  line-height: 28px;
}

/*home module*/
.home-count {
  display: inline-block;
  margin: 0;
  padding: 0;

}
.home-count li {
  float: left;
  width: 120px;
  height: 95px;
  list-style: none;
}
.home-count li.item-product {
  background: #fa603d;
}
.home-count li.item-project {
  background: #2fabe9;
}
.home-count li.item-demand {
  background: #5aad34;
}
.home-count li.item-bug {
  background: #e42b75;
}
.home-count li a,
.home-count li a:hover {
  display: block;
  text-decoration: none;
}
.home-count li p {
  margin: 0;
  text-align: center;
  color: #fff;
}
.home-count li p.num {
  padding: 20px 0 0;
  height: 40px;
  line-height: 40px;
  font-size: 40px;
}
.home-count li p.title {
  height: 35px;
  line-height: 35px;
}

.home-user {
  display: inline-block;
}
.home-user .user-avatar {
  float: left;
  padding: 20px 0;
  width: 100px;
  height: 100px;
}
.home-user .user-info {
  display: inline-block;
  margin: 0;
  padding: 15px 0 0 20px;
  width: 220px;
}
.home-user .user-info h3 {
  margin: 0 0 5px 0;
}
.home-user .user-info h3 a {
  margin: 0 5px 0 0;
  line-height: 36px;
  vertical-align: bottom;
}
.home-user .user-info li {
  list-style: none;
  color: #888;
}

/*project module*/
.pro-field {
  float: left;
  padding: 20px;
  width: 500px;
  background: #eee;
}
.pro-field textarea {
  float: left;
  margin: 0;
  width: 486px;
  height: 44px;
}
.pro-field .post-form {
  float: left;
  width: 500px;
}
.pro-main .pro-field .post-action {
  display: none;
  float: left;
  padding: 8px 0 0 0;
  width: 500px;
}
.pro-main .post-action a.act {
  float: left;
  margin: 3px 0 0 0;
  width: 120px;
  color: #999;
}
.pro-main .post-action a:hover {
  color: #333;
  text-decoration: none;
}
.pro-main .post-action i.at,
.pro-main .post-action i.photo,
.pro-main .post-action i.attach {
  float: left;
  margin: 2px 2px 0 0;
  width: 24px;
  height: 24px;
  background: url("../img/ico.png") no-repeat;
  z-index: 10;
}
.pro-main .post-action i.at {
  background-position: -120px 0;
}
.pro-main .post-action i.photo {
  background-position: -150px 0;
}
.pro-main .post-action i.attach {
  background-position: -180px 0;
}
.pro-main .post-action a.btn {
  float: right;
  padding: 6px 30px;
  width: 40px;
  color: #fff;
}
.pro-main .pro-feed {
  display: inline-block;
  margin: 20px 0;
  width: 540px;
}
.pro-feed .feed-item {
  display: inline-block;
  margin: 0;
  padding: 0 0 10px 0;
  min-height: 80px;
}
.pro-feed .line {
  background: url("../img/sprite.png") 1px 0 repeat-y;
}
.pro-feed .feed-item .head {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 500px;
  height: 50px;
}
.pro-feed .feed-item .head .avatar {
  float: left;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
.pro-feed .feed-item .head h5 {
  margin: 0 0 0 60px;
  height: 28px;
  line-height: 28px;
}
.pro-feed .feed-item .feed-info {
  margin: 0 0 5px 60px;
  font-size: 12px;
  color: #999;
}
.pro-feed .feed-item .body {
  display: inline-block;
  margin: 0 0 0 60px;
}
.pro-feed .feed-item .feed-body {
  line-height: 24px;
  color: #777;
  word-wrap: break-word;
  word-break: break-all;
}
.pro-feed .feed-item .foot {
  margin: 0 0 5px 60px;
  padding: 0 0 10px 0;
  height: 40px;
  border-bottom: 1px dotted #ddd;
}
.pro-feed .feed-item .foot input {

}


/*bug module*/
.post-sel {
  float: left;
  width: 225px;
}
