


/*间距*/
.ml5{
  margin-left:5px;
}

.mr5{
  margin-right:5px;
}

.mt5{
  margin-top:5px;
}

.mb5{
  margin-bottom:5px;
}

.ml10{
  margin-left:10px;
}

.mr10{
  margin-right:10px;
}

.mt10{
  margin-top:10px;
}

.mb10{
  margin-bottom:10px;
}

.ml15{
  margin-left:15px;
}

.mr15{
  margin-right:15px;
}  .mt15{
  margin-top:15px;
}

.mb15{
  margin-bottom:15px;
}

.ml20{
  margin-left:20px;
}

.mr20{
  margin-right:20px;
}

.mt20{
  margin-top:20px;
}

.mb20{
  margin-bottom:20px;
}
.pl5{
  padding-left:5px;
}

.pr5{
  padding-right:5px;
}

.pt5{
  padding-top:5px;
}
.pl10{
  padding-left:10px;
}

.pr10{
  padding-right:10px;
}

.pt10{
  padding-top:10px;
}

.pb10{
  padding-bottom:10px;
}

.pl15{
  padding-left:15px;
}

.pr15{
  padding-right:15px;
}

.pt15{
  padding-top:15px;
}

.pb15{
  padding-bottom:15px;
}

.pt20{
  padding-top:20px;
}

.pb20{
  padding-bottom:20px;
}

/*avatar*/
.avatar-medium, 
.avatar-small,
.avatar-tiny {
  float: left;
}

.avatar-medium {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.avatar-small {
  margin: 5px 3px 0 0;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  
}
.avatar-tiny {
  margin: 5px 3px 0 0;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  
}




/*common*/
.main {
  min-height: 1200px;
  padding: 70px 0 0 0;
}
.sidebar {
  margin: 5px 0 0 0;
}
.sidebox {
  padding: 5px 20px 15px;
}


.main-add {
  padding: 50px 0;
  text-align: center;
  border: 1px solid #eee;
  background: #f1f1f1;
}
.main-add p {
  margin: 5px 0 0 0;
  color: #999;
  line-height: 28px;
}
.main-post {
  padding: 0 0 15px;
}
.main-list {
  margin: 0;
}
.main-list li {
  margin: 0;
  height: 70px;
  border-bottom: 1px solid #f1f1f1;
  border-left: 3px solid #fff;
  list-style: none;
  cursor: pointer;
}
.main-list li:first-child {
  border-top: 1px solid #f1f1f1;
}
.main-list li:hover {
  background-color: #eee;
  -webkit-transition: all 0.24s ease-out;
  -moz-transition: all 0.24s ease-out;
  -o-transition: all 0.24s ease-out;
  transition: all 0.24s ease-out;
  border-left: 3px solid #00a05e;
  text-shadow: 0 1px 0 #fff;
}
.main-list li a:hover {
  text-decoration: none;
}
.main-list a.block, 
.main-list a.blocked {
  display: block;
  height: 70px;
}
.main-list a.blocked h5 {
  color: #ccc;
  text-decoration: line-through;
}

.main-list li h5 {
  float: left;
  margin: 0;
  padding: 0 0 0 10px;
  font-size: 28px;
  font-weight: 200;
  line-height: 70px;
}
.main-list a.stick,
.main-list a.sticked,
.main-list a.finish,
.main-list a.finished {
  float: left;
  margin: 10px;
  padding: 5px 0;
  width: 40px;
  height: 40px;
  background: url("../img/ico.png") no-repeat;
}
.main-list a.stick {
  background-position: -50px 5px;
}
.main-list a.sticked,
.main-list a.stick:hover {
  background-position: -50px -45px;
}
.main-list a.finish {
  background-position: -50px -95px;
}
.main-list a.finished {
  background-position: 0 5px;
}
.main-list .progress {
  float: right;
  margin: 25px 0 0 20px;
  width: 200px;
}

/*header*/
.navbar-nav .userinfo {
  margin: 5px 20px 0;
}
.navbar-nav .userinfo .name {
  display: inline-block;
  margin: 8px 0 0 0;
}
.navbar-nav .userdo {
  margin: 12px 0 0 20px;
}
.navbar-nav .userdo i {
  margin: 4px 2px 0 0;
}

/*sidebox*/
.sidebox .userlist {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.sidebox .userlist li {
  display: inline-block;
  float: left;
  width: 70px;
  height: 100px;
}
.sidebox .userlist li a {
  display: inline-block;
}
.sidebox .userlist li p {
  text-align: center;
}
.sidebox .userlist li a img {
  margin: 0 5px;
  border-radius: 30px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.sidebox .userlist li a img:hover {
  opacity: 1.0;
  filter: alpha(opacity=100);
}

/*modal-body userlist*/
.modal-body .userlist {
  display: inline-block;
  margin: 0
}
.modal-body .userlist li {
  float: left;
  margin: 0 10px 0 0;
  width: 90px;
  height: 90px;
  list-style: none;
  text-align: center;
}
.modal-body .userlist li img {
  margin: 0 20px;
}
.modal-body .userlist li p {
  font-size: 14px;
  line-height: 28px;
}

/*project module*/
.pro-field {
  float: left;
  padding: 20px;
  width: 500px;
  background: #eee;
}
.pro-field textarea {
  float: left;
  margin: 0;
  width: 486px;
  height: 44px;
}
.pro-field .post-form {
  float: left;
  width: 500px;
}
.pro-main .pro-field .post-action {
  display: none;
  float: left;
  padding: 8px 0 0 0;
  width: 500px;
}
.pro-main .post-action a.act {
  float: left;
  margin: 3px 0 0 0;
  width: 120px;
  color: #999;
}
.pro-main .post-action a:hover {
  color: #333;
  text-decoration: none;
}
.pro-main .post-action i.at,
.pro-main .post-action i.photo,
.pro-main .post-action i.attach {
  float: left;
  margin: 2px 2px 0 0;
  width: 24px;
  height: 24px;
  background: url("../img/ico.png") no-repeat;
  z-index: 10;
}
.pro-main .post-action i.at {
  background-position: -120px 0;
}
.pro-main .post-action i.photo {
  background-position: -150px 0;
}
.pro-main .post-action i.attach {
  background-position: -180px 0;
}
.pro-main .post-action a.btn {
  float: right;
  padding: 6px 30px;
  width: 40px;
  color: #fff;
}
.pro-main .pro-feed {
  display: inline-block;
  margin: 20px 0;
  width: 540px;
}
.pro-feed .feed-item {
  display: inline-block;
  margin: 0;
  padding: 0 0 10px 0;
  min-height: 80px;
}
.pro-feed .line {
  background: url("../img/sprite.png") 1px 0 repeat-y;
}
.pro-feed .feed-item .head {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 500px;
  height: 50px;
}
.pro-feed .feed-item .head .avatar {
  float: left;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
.pro-feed .feed-item .head h5 {
  margin: 0 0 0 60px;
  height: 28px;
  line-height: 28px;
}
.pro-feed .feed-item .feed-info {
  margin: 0 0 5px 60px;
  font-size: 12px;
  color: #999;
}
.pro-feed .feed-item .body {
  display: inline-block;
  margin: 0 0 0 60px;
}
.pro-feed .feed-item .feed-body {
  line-height: 24px;
  color: #777;
  word-wrap: break-word;
  word-break: break-all;
}
.pro-feed .feed-item .foot {
  margin: 0 0 5px 60px;
  padding: 0 0 10px 0;
  height: 40px;
  border-bottom: 1px dotted #ddd;
}
.pro-feed .feed-item .foot input {

}


/*task-info*/
.task-info .input-append .input-large {
  margin-right: 10px;
  width: 265px;
}
.task-info .input-append .btn-primary {
  height: 36px;

}
.task-info .btn-group a {
  width: 76px;
  height: 30px;
  line-height: 30px;
}
.task-info .reply-list {
  margin: 0;
}
.task-info .reply-list li {
  margin: 0 0 10px 0;
  padding: 10px;
  list-style: none;
  background: #fff;
}

