<div class="demand-info a-fadein">
  <h5>需求详情<button type="button" class="close" onclick="closeDetail();" title="关闭">×</button></h5>
  <h3><%= demand.title %></h3>
  <h5>所属产品：</h5>
  <p>需求描述：<%= demand.content %></p>
  <div class="btn-group mt10">
    <a href="javascript:void(0);" onclick="forward('<%= demand._id%>');" class="mr20 btn btn-warning"><i class="icon-share-alt icon-white"></i>转让</a>
    <a href="javascript:void(0);" onclick="demandRemove('<%= demand._id%>');" class="btn btn-danger"><i class="icon-remove icon-white"></i>删除</a>
  </div><hr>
  <h5>讨论</h5>
  <div class="input-append">
    <form name="" id="reply" action="javascript:replyPost('<%= demand._id %>', $('#content').val());void(0);" method="post">
      <input type="text" class="input-large" id="content" placeholder="请输入讨论内容">
      <input type="hidden" name="post_id" value="<%= demand._id %>">
      <button class="btn btn-primary" type="submit">发送</button>
    </form>
  </div>
  <ul class="reply-list">
    
  </ul>
</div>