<form action="/bug/doPost" method="post" class="form-horizontal">
	<div class="control-group">
		<label for="title" class="ml10"><strong class="require">*</strong>Bug名称：</label>
		<div class="span4">
			<input type="text" name="title" class="input-xxlarge" id="title" placeholder="请输入Bug名称">
		</div>
	</div>
	<div class="control-group post-sel">
		<label for="product" class="ml10"><strong class="require">*</strong>选择产品：</label>
		<div class="span2">
			<select name="product" class="input-medium">
				<% product.forEach(function(value, index) { %>
				<option value="<%=value._id %>"><%=value.title %></option>
				<% }) %>
			</select>
		</div>
	</div>
	<div class="control-group post-sel">
		<label for="module" class="ml10"><strong class="require">*</strong>选择模块：</label>
		<div class="span2">
			<select name="module" class="input-medium">
				<% product.forEach(function(value, index) { %>
				<option value="<%=value._id %>"><%=value.title %></option>
				<% }) %>
			</select>
		</div>
	</div>
	<div class="control-group post-sel">
		<label for="level" class="ml10">优先级：</label>
		<div class="span2">
			<select name="level" class="input-medium">
				<option value="1">优先级：低</option>
				<option value="2">优先级：中</option>
				<option value="3">优先级：高</option>
				<option value="4">优先级：紧急</option>
				<option value="5">优先级：严重</option>
			</select>
		</div>
	</div>
	<div class="control-group post-sel">
		<label for="toUid" class="ml10"><strong class="require">*</strong>指派给：</label>
		<div class="span2">
			<select name="toUid" class="input-medium">
				<% users.forEach(function(value, index) { %>
				<option value="<%=value._id %>"><%=value.name %></option>
				<% }) %>
			</select>
		</div>
	</div>
	<div class="control-group">
		<label for="content" class="ml10">Bug描述</label>
		<div class="span4">
			<textarea name="content" class="input-xxlarge" id="content" rows="4" placeholder="描述Bug产生的浏览器环境、步骤、结果。"></textarea>
		</div>
	</div>
</form>

<script type="text/javascript">
	$('#title').focus();
	$('.form-horizontal').validate({
		rules: {
			title: 'required',
			product: 'required'
		},
		messages: {
			title: '请输入Bug名称',
			product: '请您选择产品'
		},
	});
</script>